ruc,empresa,auth_method,dni_representante,password_casilla,sol_usuario,sol_clave,activo
20602194958,EJEMPLO CITV ESPINAR SAC,direct,12345678,REEMPLAZAR_PASS,,,1
20512345678,EJEMPLO CITV PUNO SAC,clave_sol,,,REEMPLAZAR_USER,REEMPLAZAR_CLAVE,1
